<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="re.weav.termuxshortcut">
	<uses-permission android:name="com.termux.permission.RUN_COMMAND"/>
	<application
		android:label="Pachinko"
		android:allowBackup="false"
		android:theme="@style/Theme.AppCompat.Light">
	<activity
		android:name="re.weav.termuxshortcut.MainActivity"
		android:label="Pachinko">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
